<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.cat.zsy.servlet</param-value>
        </init-param>
        <!--<init-param>-->
        <!--<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>-->
        <!--<param-value>true</param-value>-->
        <!--</init-param>-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!--<filter>-->
    <!--<filter-name>jersey</filter-name>-->
    <!--<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>jersey.config.server.provider.packages</param-name>-->
    <!--<param-value>com.cat.zsy.servlet</param-value>-->
    <!--</init-param>-->
    <!--&lt;!&ndash;<init-param>&ndash;&gt;-->
    <!--&lt;!&ndash;<param-name>jersey.config.server.provider.scanning.recursive</param-name>&ndash;&gt;-->
    <!--&lt;!&ndash;<param-value>true</param-value>&ndash;&gt;-->
    <!--&lt;!&ndash;</init-param>&ndash;&gt;-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>jersey</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>Entry</servlet-name>-->
    <!--<init-param>-->
    <!--<param-name>javax.ws.rs.Application</param-name>-->
    <!--<param-value>com.cat.zsy.Entry</param-value>-->
    <!--</init-param>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
    <!--<servlet-name>Entry</servlet-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>